@using Microsoft.IdentityModel.Tokens
@model IEnumerable<DictusClaudi.Models.DictEntry>

@{
    ViewData["Title"] = "Index";
    bool searchEnglish = (bool?)ViewData["searchEnglish"] ?? true;
}

<h1>Search</h1>

<form method="get" action="/Dictionary/Index/">
    <div class="form-group">
        <input class="search form-control" type="text" name="searchTerms" placeholder="Search..." />
        <input type="checkbox" checked="@(searchEnglish)" data-toggle="toggle" name="searchEnglish"/>
        
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>


@Html.Partial("_PaginationSelector.cshtml")

<table class="table">
    @if (!Model.IsNullOrEmpty())
    {
        <thead>
        <tr>
            <th>
                Stem
            </th>
            <th>
                Part of Speech
            </th>
            <th>
                English Translation
            </th>
        </tr>
        </thead>
    }
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.WordStem)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayPartOfSpeech)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordTranslation)
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.Partial("_PaginationSelector.cshtml")